#game_object {
    background-color: #ffffff;
    height: 705px;
    margin: 20px auto;
    position: relative;
    width: 705px;
}
#board div {
    background: url("pic.jpg") no-repeat scroll 0 0 #ffffff;
    cursor: pointer;
    height: 175px;
    line-height: 175px;
    position: absolute;
    text-align: center;
    width: 175px;

    /* css3 shadow */
   
    box-shadow: inset 0 0 20px #555555; 
}